<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="minsu.bms.writer.dao.mapper.WriterMapper">
	<select id="getWriters" resultType="Writer">
		select writer_name writer from writers
	</select>
</mapper>