<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="minsu.bms.bookmanagement.dao.mapper.BookMapper">
	<select id="bookList" parameterType="page" resultMap="bookMap">
		<![CDATA[
		select * from (
			select rownum as rnum, x.* from(
				select * from books
				order by book_price
			)x where rownum <= #{rowCnt}*#{currentPage}
		) where rnum > #{rowCnt}*(#{currentPage}-1)
		]]>
	</select>
	
	<resultMap id="bookMap" type="book">
		<id property="bookCode"			column="book_code"/>
		<result property="bookName"		column="book_name"/>
		<result property="bookPrice"	column="book_price"/>
		<result property="writer"		column="writer"/>
		<result property="company"		column="company"/>
		<result property="publiDate"	column="publi_date"/>
		<result property="country"		column="country"/>
		<result property="kind"			column="kind"/>
		<result property="inventory"	column="inventory"/>
		<result property="salesNum"		column="sales_num"/>
		<result property="bookIntro"	column="book_intro"/>
		<result property="companyEval"	column="company_eval"/>
		<result property="img"			column="img"/>
	</resultMap>
	
	<select id="bestBookList" resultMap="bookMap" >
	<![CDATA[
		SELECT * FROM ( SELECT * FROM books ORDER BY sales_num DESC ) WHERE ROWNUM <= 10
	]]>
	</select>
	
	<select id="newBookList" resultMap="bookMap">
	<![CDATA[
	SELECT * FROM ( SELECT * FROM books ORDER BY publi_date DESC ) WHERE ROWNUM <= 10
	]]>
	</select>
	
	<select id="saleBookList" resultMap="bookMap">
	<![CDATA[
	SELECT * FROM ( SELECT * FROM books ORDER BY book_price) WHERE ROWNUM <= 10
	]]>
	</select>
	
	<select id="domesticBookList" parameterType="string" resultMap="bookMap">
		select * 
		from books
		where country = '국내'
	<if test="kind.equals('k1')">
		and kind = '문학'
	</if>
	<if test="kind.equals('k2')">
		and kind = '인문'
	</if>
	<if test="kind.equals('k3')">
		and kind = '참고서'
	</if>
	<if test="kind.equals('k4')">
		and kind = '기타'
	</if>
	</select>
	
	<select id="foreignBookList" parameterType="string" resultMap="bookMap">
		select * 
		from books
		where country = '해외'
	<if test="kind.equals('f1')">
		and kind = '문학'
	</if>
	<if test="kind.equals('f2')">
		and kind = '인문'
	</if>
	<if test="kind.equals('f3')">
		and kind = '참고서'
	</if>
	<if test="kind.equals('f4')">
		and kind = '기타'
	</if>
	</select>

	<select id="getBook" parameterType="string" resultType="book">
		select book_code bookCode, book_name bookName, book_price bookPrice, writer,
			   company, publi_date publiDate, country, kind, inventory, sales_num salesNum,
			   book_intro bookIntro, company_eval companyEval, img
		from books
		where book_code = #{bookCode}
	</select>
	
	<delete id="delBook" parameterType="string">
		delete books where book_code = #{bookCode}
	</delete>
	
	<insert id="addBook" parameterType="book">
		insert into books values (
		#{bookCode}, #{bookName}, #{bookPrice}, #{writer}, #{company},
		#{publiDate}, #{country}, #{kind}, #{inventory}, #{salesNum},
		#{bookIntro}, #{companyEval}, #{img})
	</insert>
	
	<update id="updateBook" parameterType="book">
		update books set
		book_name=#{bookName}, book_price=#{bookPrice},
		writer=#{writer}, company=#{company}, publi_date=#{publiDate},
		country=#{country}, kind=#{kind}, inventory=#{inventory},
		book_intro=#{bookIntro}, company_eval=#{companyEval}, sales_num=#{salesNum},
		img=#{img}
		where book_code=#{bookCode}
	</update>
</mapper>
